.button{
    border: none;
    outline: none;
    padding-inline:1.5rem;
    padding-block:0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover{
        transform: translateY(-2px);
    }

    &:active{
        transform: scale(0.95);
    }

    &.primary-button{
        background-color: #e1034d;
        color: #fff;
    }

}